<div ng-include="'include/menu.html'"></div>
{{mainCtrl.activeUser.pseudo}}
<span ng-if="mainCtrl.activeUser === {}">qdzdzq
</span>
    {{mainCtrl.message}}
    <form ng-if="!mainCtrl.logged" class="form-signin" ng-submit="mainCtrl.checkFormLogin()" style="max-width: 330px;padding: 15px;margin: 0 auto;">
        <label for="inputEmail" class="sr-only">Utilisateur</label>
        <input type="text" id="inputEmail" ng-model="mainCtrl.inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" id="inputPassword" ng-model="mainCtrl.inputPassword" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
    </form>